.price{
    max-width: 500px;
    background: transparent;
}
#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    display: none;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    display: none;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #415ADE;
    border: 2px solid #555555;
    display: none;
}
.form-group p{
    color: red;
}