<section class="section section-7 position-relative overflow-hidden" style="background-color: #415ADE">
  <div class="section-layer">
    <!-- Layer-->
    <svg class="layer layer-7" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none">
      <path class="layer-item-1" d="M1114 1H1814L1234 930H533L1114 1Z" fill="white" fill-opacity="0.1"></path>
      <path class="layer-item-2" d="M270.929 696H560L320.484 1080H31L270.929 696Z" fill="white" fill-opacity="0.1">
      </path>
      <path class="layer-item-3" d="M283.358 623L0 1080H85.6902L367 623H283.358Z" fill="#FFD600"></path>
      <path class="layer-item-4" d="M1183.69 729L1081 894H1112.05L1214 729H1183.69Z" fill="#FFD600"></path>
      <path class="layer-item-5" d="M1772.61 412L1358 1081H1483.38L1895 412H1772.61Z" fill="#FFD600"></path>
      <path class="layer-item-6" d="M636.826 654.669L638.524 655.726L374.304 1080.21L372.607 1079.16L636.826 654.669Z"
        fill="white"></path>
      <path class="layer-item-7" opacity="0.4"
        d="M1413.83 654.669L1415.52 655.726L1151.3 1080.21L1149.61 1079.16L1413.83 654.669Z" fill="white"></path>
      <path class="layer-item-8" opacity="0.4"
        d="M1423.83 654.669L1425.52 655.726L1161.3 1080.21L1159.61 1079.16L1423.83 654.669Z" fill="white"></path>
      <path class="layer-item-9"
        d="M336.826 632.669L338.524 633.726L227.023 812.859L225.325 811.802C268.869 741.846 293.282 702.625 336.826 632.669Z"
        fill="white"></path>
      <path class="layer-item-10" d="M346.826 632.669L348.524 633.726L237.023 812.859L235.325 811.802L346.826 632.669Z"
        fill="white"></path>
    </svg>
  </div>
  <div class="container-wide mt-5">
    <div class="row">
      <div class="col-xs-8 col-sm-7 col-md-9 col-lg-10 col-xl-9 col-xxl-7 offset-xxl-2 section-content-3"
        data-animate='{"in":{"class":"fadeInUpBig","delay":".7s","duration":".7s"},"out":{"class":"fadeOutUpBig","delay":"0s","duration":".4s"}}'>
        <div class="container">
          <div class="row justify-content-between ">
            <h2 class="text-center d-mobile-landscape-none ms-5" style="margin-left: 50px;">Products</h2>
            <div class="sort-by dropdown" style="margin-right: 20px;"><span class="mr-1 "></span>
              <select class="options ms-2" [(ngModel)]="selectedValue" (change)="onDropdownChange()">
                <option [value]="undefined">All Categories</option>
                <option class="dropdown-item option" *ngFor="let option of categoryData" [value]="option.CategoryName">
                  {{ option.CategoryName }}</option>
              </select>
            </div>
          </div>

          <ngx-skeleton-loader count="6" *ngIf="!contentLoaded" appearance="circle"
            [theme]="{width: '280px', height: '200px', 'border-radius': '10px','margin-right': '15px','background-color': '#415ADE',border: '1px solid white '}">
          </ngx-skeleton-loader>
          <div class=" row scrollbar" style=" overflow-y:scroll; max-height: 500px;" id="style-4">
            <article class="price col-lg-4 mt-3" *ngFor="let item of data">
              <img src="{{imageUrl}}{{item.Image}}" onerror="this.src='/assets/images/Product_Img_Unavailable.jpg';"
                (click)="productDetail(item.Title)" alt="" class="image">
              <div class="price-title mt-2 h5" (click)="productDetail(item.Title)">{{item.Title}}</div>
              <div class="price-title mt-2 h6" (click)="productDetail(item.Title)">{{item.TeluguName}}</div>
            </article>
            <article class="price col-lg-4 mt-2" hidden>
              <img src="" alt="" class="image">
              <div class="price-title text-center d-flex h5">Test</div>
              <div class="price-title h6">TeluguName</div>
              <div class="price-text"></div><a class="btn btn-outline btn-block btn-round price-btn">View Details</a>
            </article>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 position-static d-flex align-items-center px-0 section-figure"><img
          class="section-image" src="assets/images/banner4.png" alt="" width="534" height="825"
          data-animate='{"in":{"class":"slideInRight","delay":".7s","duration":".7s"},"out":{"class":"slideOutRight","delay":"0s","duration":".4s"}}' />
      </div>
    </div>
  </div>
</section>