
#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    display: none;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    display: none;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #415ADE;
    border: 2px solid #555555;
    display: none;
}

.Image{
    max-height: 400px;
    min-width: 350px;
    /* min-height:400px */
}
.text-center {
    text-align: start !important;
}
.image{
    /* max-width: 200px; */
    min-width: 100px;
    min-height:200px;
    max-height: 200px;
}
.col-3{
    margin-top: 30px;
}
.price{
    max-width: 1500px
}
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.form{
    cursor: pointer;
}
.btn-primary {
   
    width: 200px;
  
}
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
    .container {
        padding-top: 100px;
    }
    .price{
        max-width: 1700px;
        height: 2700px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
    /* Your CSS rules for this screen size go here */
    .container {
        padding-top: 100px;
    }
}
@media only screen and (min-width: 576px)  {
   
}
@media only screen and (max-width: 768px) { 
    /* Here are some changes*/
    .price{
        max-width: 1500px;
        height: 2700px;
    }
    .Image{
        max-height: 300px;
        min-width: 330px;
        min-height: 300px;
    }
    .image{
        /* max-width: 200px; */
        min-width: 350px;
       
    }
    .col-sm-12{
     padding-top: 25px;
    }
}
@media only screen and (max-width: 767px) {

  

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .price{
        max-width: 1500px;
        height: 2700px;
    }
    .Image{
        max-height: 300px;
        min-width: 330px;
        min-height: 300px;
    }
    .image{
        /* max-width: 200px; */
        min-width: 10px;
        min-height: 80px;
        max-height: 200px;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

   
   

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
    .topspace {
        padding-top: 40px;
    }
    .container {
        padding-top: 40px;
    }
}
@media (min-width: 1200px){
    .topspace {
        padding-top: 40px;
    }
    .container {
        padding-top: 100px;
    }
    
}
 