<!-- About-->

<section class="section section-4 position-relative overflow-hidden" style="background-color: #00ABE1">
  <div class="section-layer">
    <!-- Layer-->
    <svg class="layer layer-4" width="1596" height="1080" viewBox="0 0 1596 1080" fill="none">
      <path class="layer-item-1" d="M581 0H1281L701 929H0L581 0Z" fill="white" fill-opacity="0.1"></path>
      <path class="layer-item-2" d="M685.929 647H975L735.484 1031H446L685.929 647Z" fill="white" fill-opacity="0.1">
      </path>
      <path class="layer-item-3" d="M1398.57 -1L729 1079H931.484L1596.21 -1H1398.57Z" fill="#FFD600"></path>
      <path class="layer-item-4" d="M725.219 381L438 844.817H524.858L810 381H725.219Z" fill="#FFD600"></path>
      <path class="layer-item-5" d="M1042.69 207L940 372.552H971.054L1073 207H1042.69Z" fill="#FFD600"></path>
      <path class="layer-item-6" d="M663.826 631.669L665.524 632.726L554.023 811.859L552.325 810.802L663.826 631.669Z"
        fill="white"></path>
      <path class="layer-item-7" d="M883.826 551.669L885.524 552.726L621.304 977.212L619.607 976.155L883.826 551.669Z"
        fill="white"></path>
      <path class="layer-item-8" opacity="0.4"
        d="M923.826 501.669L925.524 502.726L661.304 927.212L659.607 926.155L923.826 501.669Z" fill="white"></path>
      <path class="layer-item-9" opacity="0.4"
        d="M933.826 501.669L935.524 502.726L671.304 927.212L669.607 926.155L933.826 501.669Z" fill="white"></path>
      <path class="layer-item-10" d="M1574.83 59.6692L1576.52 60.7261L942.398 1079.49L940.7 1078.44L1574.83 59.6692Z"
        fill="white" fill-opacity="0.4"></path>
      <path class="layer-item-11" d="M1584.83 59.6692L1586.52 60.7261L952.398 1079.49L950.7 1078.44L1584.83 59.6692Z"
        fill="white" fill-opacity="0.4"></path>
      <path class="layer-item-12" d="M1103.83 128.669L1105.52 129.726L946.992 384.418L945.294 383.361L1103.83 128.669Z"
        fill="white"></path>
    </svg>
  </div>
  <div class="container">
    <div class="row row-30 row-md-50 align-items-center justify-content-center">
      <div class="col-xs-8 col-lg-6 section-content-2"
        data-animate='{"in":{"class":"fadeInUpBig","delay":".3s"},"out":{"class":"fadeOutUpBig","delay":".3s"}}'>

        <h2>A Few Words Paradise Garden</h2>
        <div class="fb-item" *ngIf="!contentLoaded">
          <div class="second-section-wrapper">
            <div class="wrapper">
              <ngx-skeleton-loader
                [theme]="{ width: '90%','border-radius': '0', height: '15px','background-color': '#00ABE1',border: '1px solid white '}"></ngx-skeleton-loader>
              <ngx-skeleton-loader [theme]="{
                    width: '80%',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px',
                    'background-color': '#00ABE1',
                    border: '1px solid white '
                  }"></ngx-skeleton-loader>
            </div>
            <div class="wrapper">
              <ngx-skeleton-loader [theme]="{
                    width: '90%',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px',
                    'background-color': '#00ABE1',
                    border: '1px solid white '
                  }"></ngx-skeleton-loader>
            </div>
            <div class="wrapper">
              <ngx-skeleton-loader [theme]="{
                    width: '60%',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '10px',
                    'background-color': '#00ABE1',
                    border: '1px solid white '
                  }"></ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <p class="shower" ng-class="{show: show}">{{contentDescription.Vision}}</p>
        <div class="row row-15 row-sm-20 row-md-40 row-xl-50">
          <div class="col-6 col-md-4">
            <!-- Blurb-->
            <article class="blurb">
              <div class="media media-xs align-items-center">
                <div class="media-left">
                  <div class="blurb-embed"><span class="blurb-icon linearicons-paw"></span></div>
                </div>
                <div class="media-body">
                  <div class="blurb-title h6">Exotic Animals</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-6 col-md-4">
            <!-- Blurb-->
            <article class="blurb">
              <div class="media media-xs align-items-center">
                <div class="media-left">
                  <div class="blurb-embed"><span class="blurb-icon linearicons-shield-check"></span></div>
                </div>
                <div class="media-body">
                  <div class="blurb-title h6">Animal Safety</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-6 col-md-4">
            <!-- Blurb-->
            <article class="blurb">
              <div class="media media-xs align-items-center">
                <div class="media-left">
                  <div class="blurb-embed"><span class="blurb-icon linearicons-tree"></span></div>
                </div>
                <div class="media-body">
                  <div class="blurb-title h6">Zoological Garden</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-6 col-md-12">
            <a class="btn btn-round btn-lg btn-primary btn-anis" (click)="aboutGarden()">Learn more</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-xs-4 col-lg-6 col-xl-5 col-xxl-6 section-content-2"
        data-animate='{"in":{"class":"fadeIn","delay":".8s","duration":".7s"},"out":{"class":"fadeOut","delay":"0s","duration":".4s"}}'>
        <div class="ml-xxl-4">
          <article class="video-play embed-responsive embed-responsive-16by9">
            <video class="video" src="assets/videos/video.mp4" controls poster="assets/videos/video.jpg"
              data-btn=".video-btn-1"></video>
            <button class="video-btn video-btn-1 play"></button>
          </article>
        </div>
      </div> -->
      <div class="col-xs-4 col-lg-6 col-xl-5 col-xxl-6 section-content-2"
      data-animate='{"in":{"class":"fadeIn","delay":".8s","duration":".7s"},"out":{"class":"fadeOut","delay":"0s","duration":".4s"}}'>
      <img
          class="" src="assets/images/banner2.png" alt="" 
          />
      <!-- <div class="ml-xxl-4">
        <article class="video-play embed-responsive embed-responsive-16by9">
          <video class="video" src="assets/videos/video.mp4" controls poster="assets/videos/video.jpg"
            data-btn=".video-btn-1"></video>
          <button class="video-btn video-btn-1 play"></button>
        </article>
      </div> -->
    </div>
    </div>
  </div>
</section>