trigger:
- main

pool:
  name: mycomputeragent

variables:
  nodeVersion: '18.x'

steps:
- task: NodeTool@0
  displayName: Install Node.js
  inputs:
    versionSpec: '$(nodeVersion)'

- script: |
    npm install
  displayName: Install dependencies

- script: |
    npm run build
  displayName: Build Angular App

- task: CopyFiles@2
  inputs:
    SourceFolder: 'dist'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'angular-drop'

