trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
# Install Node.js
- task: NodeTool@0
  displayName: 'Install Node.js'
  inputs:
    versionSpec: $(nodeVersion)

# Install Angular CLI + dependencies
- script: |
    npm install -g @angular/cli
    npm install
  displayName: 'Install dependencies'

# Build Angular app
- script: |
    ng build --configuration production
  displayName: 'Build Angular App'

# Copy dist files to artifact staging
- task: CopyFiles@2
  displayName: 'Copy dist files'
  inputs:
    SourceFolder: 'dist'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# Publish artifact
- task: PublishBuildArtifacts@1
  displayName: 'Publish Angular Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'angular-drop'
