include ../layout/_layout

// Layouts
section.section.section-lg.bg-gradient-animated
	.container-fluid
		h1.text-center( data-animate!={ class: 'fadeInUp' } ) Check out all themes available
			| #[br.d-none.d-xs-block]
			| in the full version of Intense
		.row.row-30.row-md-40.row-lg-50.justify-content-center
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-1-336x450',
					title: 'Home — Default',
					link:  'index.html'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-2-336x450',
					title: 'Home — Business',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-3-336x450',
					title: 'Home — Consulting',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-4-336x450',
					title: 'Home — Portfolio',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-5-336x450',
					title: 'Home — Studio',
					link: '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-6-336x450',
					title: 'Home — App',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-7-336x450',
					title: 'Home — Event',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-8-336x450',
					title: 'Home — Blog',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-9-336x450',
					title: 'Home — Store',
					link:  '#'
				})
			.col-xs-6.col-md-4.col-xl-auto( data-animate!={ class: 'fadeInUp' } )
				+layout({
					img:   'layouts/layout-10-336x450',
					title: 'Home — Minimal',
					link:  '#'
				})
