// Theme color light backgrounds
@each $color, $value in $theme-colors {
	.bg-#{$color}-light {
		background: adjust-color( $value, $hue: 1deg, $saturation: 39%, $lightness: 45% );
	}

	.bg-#{$color} + .bg-#{$color} {
		padding-top: 0;
	}
}


// Gray backgrounds
@each $color, $value in $grays {
	@include bg-variant(".bg-#{$color}", $value);

	.bg-#{$color} + .bg-#{$color} {
		padding-top: 0;
	}
}


// Transparent background
.bg-transparent + .bg-transparent {
	padding-top: 0;
}


// Image background
.bg-image {
	background-position: center center;
	background-size: cover;
}


// Colored overlay
@each $name, $color in $theme-colors {
	[class*='overlay-#{$name}'] {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $color;
			pointer-events: none;
			opacity: .5;
		}

		.container {
			position: relative;
		}
	}

	.overlay-#{$name} {
		&-02 {
			&::before {
				opacity: .2;
			}
		}

		&-03 {
			&::before {
				opacity: .3;
			}
		}

		&-06 {
			&::before {
				opacity: .6;
			}
		}

		&-07 {
			&::before {
				opacity: .7;
			}
		}

		&-08 {
			&::before {
				opacity: .8;
			}
		}
	}
}


// Background layer
.section-layer {
	&,
	.container {
		position: relative;
	}
}

.bg-layer {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


// Animated Background Gradient
.bg-gradient-animated {
	background-size: 400% auto;
	background-position: 100% 50%;
	background-image: linear-gradient( 90deg, #b2edff 0%, #e9dbff 25%, #c1ffe1 50%, #b2edff 75%, #e9dbff 100% );
	animation: gradientMotion 20s infinite linear;
}

@each $name, $value in $gradients {
	.bg-gradient-#{$name} {
		background-image: $value;
	}
}

@keyframes gradientMotion {
	0% {
		background-position-x: 100%;
	}

	100% {
		background-position-x: 0;
	}
}
