html {
	font-size: 13px;

	@include media-breakpoint-up( md ) {
		font-size: 14px;
	}

	@include media-breakpoint-up( xl ) {
		font-size: 16px;

		@media ( orientation: landscape ) and ( max-height: 768px ) {
			font-size: 14px;
		}
	}
}

// Headings
#{headings()} {
	margin: 0;

	a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

h1, .h1 {
	font-size: 26px;
	font-weight: 400;
	line-height: $h1-line-height;
	font-family: $font-family-cursive;

	@include media-breakpoint-up( md ) {
		font-size: px-to-rem( 36px );
	}

	@include media-breakpoint-up( lg ) {
		font-size: px-to-rem( 48px );
	}

	@include media-breakpoint-up( xxl ) {
		font-size: $h1-font-size;
	}
}

h2, .h2 {
	font-size: 22px;
	font-weight: 400;
	line-height: $h2-line-height;
	font-family: $font-family-cursive;

	@include media-breakpoint-up( md ) {
		font-size: px-to-rem( 28px );
	}

	@include media-breakpoint-up( lg ) {
		font-size: px-to-rem( 36px );
	}

	@include media-breakpoint-up( xxl ) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: $h3-line-height;
	font-family: $font-family-cursive;

	@include media-breakpoint-up( md ) {
		font-size: px-to-rem( 24px );
	}

	@include media-breakpoint-up( lg ) {
		font-size: px-to-rem( 30px );
	}

	@include media-breakpoint-up( xxl ) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-size: 18px;
	line-height: $h4-line-height;

	@include media-breakpoint-up( md ) {
		font-size: px-to-rem( 22px );
	}

	@include media-breakpoint-up( lg ) {
		font-size: px-to-rem( 26px );
	}
	@include media-breakpoint-up( xxl ) {
		font-size: $h4-font-size;
	}
}

h5, .h5 {
	font-size: 16px;
	line-height: $h5-line-height;

	@include media-breakpoint-up( lg ) {
		font-size: $h5-font-size;
	}
}

h6, .h6 {
	font-size: 14px;
	line-height: $h6-line-height;

	@include media-breakpoint-up( lg ) {
		font-size: $h6-font-size;
	}
}

@media ( orientation: landscape ) {
	.mobile {
		.d-mobile-landscape-none {
			display: none;
		}

		.d-mobile-landscape-none + * {
			margin-top: 0;
		}
	}
}

// Link
a {
	transition: color .2s;
}

.link-inherit {
	color: inherit;

	&:hover {
		color: $secondary;
	}
}

// Emphasis
mark,
.mark {
	color: color-yiq( $mark-bg );
}


// Underline text
u {
	text-decoration: none;
	border-bottom: 2px solid rgba( $secondary, .4 );
}


// Bold text
strong {
	font-weight: $font-weight-bold;
}


// Context Dark
.context-dark {
	a:not([class]) {
		color: $primary;

		&:hover {
			color: darken($primary, 10%);
		}
	}

	&,
	#{headings()} {
		color: $white;
	}
}
