// Variables

$white:    #fff;
$gray-100: #fafafa;
$gray-200: #f7f7f7;
$gray-300: #e8e8e9;
$gray-400: #aeaeb2;
$gray-600: #5d5d66;
$gray-700: #393944;
$gray-800: #23232f;
$gray-900: #171724;
$black:    #000;

$primary:   #FF7A00;
$secondary: #FFD600;
$success:   #77ba21;
$info:      #138ce4;
$warning:   #f19711;
$danger:    #e72660;
$light:     $gray-200;
$dark:      $gray-900;

// Gradients
$gradients: (
	shamrock-blue: linear-gradient( 45deg, #43DD93 0%, #28A8FF 100% ),
	blue-violet: linear-gradient( 46.03deg, #28A8FF -1.86%, #7D2EFF 100% ),
	electric-violet: linear-gradient( 225deg, #C728FF 0%, #7D2EFF 100% ),
	dark-violet: linear-gradient( -8.15deg, $secondary 4.67%, $gray-900 49.99% )
);


// The yiq lightness value
$yiq-contrasted-threshold:  200;


// Body
$body-color: $white;
$body-bg: #72B805;


// Grid breakpoints
$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);


// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);


// Grid columns
$grid-gutter-width: 30px;


// Components
$border-width:     1px;
$border-color:     $white;


$border-radius:    px-to-rem( 5px );
$border-radius-lg: px-to-rem( 14px ); 

$box-shadow-sm:    5px 8px 28px rgba($gray-900, 0.1);
$box-shadow-sm-2:  5px 10px 18px rgba($gray-900, 0.15);
$box-shadow:       0 0 30px rgba($black, 0.25);
$box-shadow-2:     0 0 30px rgba($black, 0.12);
$box-shadow-lg:    5px 18px 48px rgba($gray-900, .1);


// Fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-cursive: 'Lilita One', cursive;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size-base: px-to-rem( 16px );
$font-size-lg: px-to-rem( 18px );
$font-size-sm: px-to-rem( 14px );
$font-weight-base: 400;
$line-height-base: 1.375;
$line-height-lg: 1.389;
$line-height-sm: 1.5;

$h1-font-size: px-to-rem( 80px );
$h2-font-size: px-to-rem( 48px );
$h3-font-size: px-to-rem( 36px );
$h4-font-size: px-to-rem( 30px );
$h5-font-size: px-to-rem( 24px );
$h6-font-size: px-to-rem( 18px );

$h1-line-height: 1.1375;
$h2-line-height: 1.1458;
$h3-line-height: 1.1389;
$h4-line-height: $line-height-base;
$h5-line-height: $line-height-base;
$h6-line-height: $line-height-base;

$headings-color: $white;
$headings-font-family: $font-family-base;
$headings-font-weight: 700;

$lead-font-size: $font-size-base * 1.125; // ~18px
$lead-font-weight: $font-weight-base;

$small-font-size: 81%;  // ~17px

$mark-padding: 0 .1em;
$mark-bg: $secondary;

$hr-border-color:             rgba( $white, .4 );
$hr-border-width:             2px;
$hr-margin-y: 0;


// Links
$link-color:       $secondary;


// Buttons
$btn-padding-y:        px-to-rem( 10px );
$btn-padding-x:        px-to-rem( 30px );
$btn-font-size:        $font-size-base;
$btn-line-height:      $line-height-base;

$btn-padding-y-sm:     px-to-rem( 5px );
$btn-padding-x-sm:     px-to-rem( 20px );
$btn-font-size-sm:     $font-size-base;
$btn-line-height-sm:   $line-height-base;

$btn-padding-y-lg:     px-to-rem( 15px );
$btn-padding-x-lg:     px-to-rem( 40px );
$btn-font-size-lg:     $font-size-base;
$btn-line-height-lg:   $line-height-base;

$btn-border-width:     2px;

$btn-font-weight:      700;
$btn-box-shadow:       none;
$btn-focus-box-shadow: none;

$btn-border-radius:    $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;


// Forms
$label-margin-bottom: .5rem;
$label-font-size: $font-size-sm;

$input-padding-y: px-to-rem( 11px );
$input-padding-x: px-to-rem( 30px );
$input-font-size: $font-size-base;
$input-line-height: $line-height-base;
$input-font-weight: 400;
$input-border-width: $border-width;

$input-padding-y-lg: $input-padding-y * 1.1;
$input-padding-x-lg: $input-padding-x * 1.1;
$input-font-size-lg: $input-font-size * 1.1;
$input-line-height-lg: $input-line-height;

$input-bg: transparent;
$input-disabled-bg: rgba( $gray-100, .8 );
$input-border-color: $border-color;

$input-border-radius: px-to-rem( 23px );

$input-focus-bg: transparent;
$input-focus-color: $body-color;
$input-focus-border-color: $input-border-color;
$input-focus-box-shadow: 0 0 0 1px $input-focus-border-color;

$input-placeholder-color: rgba( $body-color, .6 );

$input-color: $body-color;
$input-border-color: $white;

$input-height-border: $input-border-width * 2;
$input-height: #{$input-font-size * $input-line-height + $input-padding-y * 2 + px-to-rem($input-height-border)};
$input-height-lg: #{$input-font-size-lg * $input-line-height-lg + $input-padding-y-lg * 2 + px-to-rem($input-height-border)};

$form-grid-gutter-width: 30px;

$input-group-addon-color: $input-focus-color;
$input-group-addon-bg: $input-bg;


// Z-index master list
$zindex-dropdown:       10;
$zindex-sticky:         11;
$zindex-popover:        12;
$zindex-tooltip:        13;
$zindex-fixed:          14;
$zindex-modal-backdrop: 15;
$zindex-modal:          16;


// Badges
$badge-font-size: px-to-rem(15px);
$badge-font-weight: 500;
$badge-padding-y: 5px;
$badge-padding-x: 9px;
$badge-border-radius: 2px;


// Tables
$table-cell-padding: 19px 20px;
$table-color:        $gray-900;
$table-accent-bg:    $gray-200;
