.price {
  max-width: 1000px;
  background: #00BCB1;
}

.row {
  justify-content: center;
  margin: 10px;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin-top: 0;
}

.blog:hover {
  cursor: pointer;
  color: #00BCB1;

}

.card {
  margin-top: 100px;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #00BCB1;
  border: 2px solid #F5F5F5;
}

.fb-item {
  width: auto;
  height: auto;
  text-align: initial;
}

.first-section-wrapper,
.second-section-wrapper {
  width: 100%;
  height: auto;
  flex: 1;
}

.first-section-wrapper {
  display: inline-flex;
}

.second-section-wrapper {
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  flex: 1;
}