<section class="section section-5 position-relative overflow-hidden" style="background-color: #774CBE">
  <div class="section-layer">
            <!-- Layer-->
            <svg class="layer layer-5" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none">
              <path class="layer-item-1" d="M1115 1H1815L1235 930H534L1115 1Z" fill="white" fill-opacity="0.1"></path>
              <path class="layer-item-2" d="M271.929 357H561L321.484 741H32L271.929 357Z" fill="white" fill-opacity="0.1"></path>
              <path class="layer-item-3" d="M691.614 412L277 1081H402.383L814 412H691.614Z" fill="#FFD600"></path>
              <path class="layer-item-4" d="M333.219 563L46 1025.93H132.858L418 563H333.219Z" fill="#FFD600"></path>
              <path class="layer-item-5" d="M586.688 207L484 373.033H515.054L617 207H586.688Z" fill="#FFD600"></path>
              <path class="layer-item-6" d="M637.826 654.669L639.524 655.726L375.304 1080.21L373.607 1079.16L637.826 654.669Z" fill="white"></path>
              <path class="layer-item-7" opacity="0.4" d="M317.826 654.669L319.524 655.726L55.3047 1080.21L53.6068 1079.16L317.826 654.669Z" fill="white"></path>
              <path class="layer-item-8" opacity="0.4" d="M327.826 654.669L329.524 655.726L65.3047 1080.21L63.6068 1079.16L327.826 654.669Z" fill="white"></path>
              <path class="layer-item-9" d="M357.826 372.669L359.524 373.726L248.023 552.859L246.325 551.802L357.826 372.669Z" fill="white"></path>
              <path class="layer-item-10" d="M367.826 372.669L369.524 373.726L258.023 552.859L256.325 551.802L367.826 372.669Z" fill="white"></path>
            </svg>
  </div>
  <div class="container">
    <div class="row row-30 section-row">
      <div class="col-xs-8 col-md-6 section-content-2" data-animate='{"in":{"class":"fadeInUpBig","delay":".3s"},"out":{"class":"fadeOutUpBig","delay":".3s"}}'>
        <h2>Plan Your Visit</h2>
        <div class="owl-carousel owl-style-2" data-owl="{&quot;items&quot;:1,&quot;margin&quot;:30,&quot;dots&quot;:true,&quot;loop&quot;:false,&quot;mouseDrag&quot;:false,&quot;autoplay&quot;:false,&quot;responsive&quot;:{&quot;1200&quot;:{&quot;items&quot;:2}}}">
          <div class="row row-30 row-xxl-50">
            <div class="col-6 col-xl-12">
                      <!-- Blurb-->
                      <article class="blurb blurb-morphing">
                        <div class="blurb-embed"><span class="blurb-icon linearicons-paw"></span>
                                  <svg class="blob-morphing blurb-svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
                                    <path d="M37.0096 23.0069C21.3087 29.8865 0.000244141 36.7659 0.000244141 60.8441C0.000244141 84.9223 41.4956 110.147 65.047 107.854C88.5985 105.561 112.15 79.1894 115.514 59.6976C118.879 40.2057 104.299 27.5932 86.3555 18.4206C68.4115 9.24789 52.7106 16.1274 37.0096 23.0069Z" fill="#FFD600"></path>
                                  </svg>
                        </div>
                        <div class="blurb-title h6">Opening Hours</div>
                        <div class="blurb-text">We are open until 5:30pm. Last entry is 1 hour before closing.</div>
                      </article>
            </div>
            <div class="col-6 col-xl-12">
                      <!-- Blurb-->
                      <article class="blurb blurb-morphing">
                        <div class="blurb-embed"><span class="blurb-icon linearicons-bubbles"></span>
                                  <svg class="blob-morphing blurb-svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
                                    <path d="M37.0096 23.0069C21.3087 29.8865 0.000244141 36.7659 0.000244141 60.8441C0.000244141 84.9223 41.4956 110.147 65.047 107.854C88.5985 105.561 112.15 79.1894 115.514 59.6976C118.879 40.2057 104.299 27.5932 86.3555 18.4206C68.4115 9.24789 52.7106 16.1274 37.0096 23.0069Z" fill="#FFD600"></path>
                                  </svg>
                        </div>
                        <div class="blurb-title h6">Animal Talks</div>
                        <div class="blurb-text">Our team helps you to discover great things about our animals.</div>
                      </article>
            </div>
          </div>
          <div class="row row-30 row-xxl-50">
            <div class="col-6 col-xl-12">
                      <!-- Blurb-->
                      <article class="blurb blurb-morphing">
                        <div class="blurb-embed"><span class="blurb-icon linearicons-users"></span>
                                  <svg class="blob-morphing blurb-svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
                                    <path d="M37.0096 23.0069C21.3087 29.8865 0.000244141 36.7659 0.000244141 60.8441C0.000244141 84.9223 41.4956 110.147 65.047 107.854C88.5985 105.561 112.15 79.1894 115.514 59.6976C118.879 40.2057 104.299 27.5932 86.3555 18.4206C68.4115 9.24789 52.7106 16.1274 37.0096 23.0069Z" fill="#FFD600"></path>
                                  </svg>
                        </div>
                        <div class="blurb-title h6">Group Discounts</div>
                        <div class="blurb-text">Get discounts up to 50% off if you bring 10 or more visitors.</div>
                      </article>
            </div>
            <div class="col-6 col-xl-12">
                      <!-- Blurb-->
                      <article class="blurb blurb-morphing">
                        <div class="blurb-embed"><span class="blurb-icon linearicons-calendar-31"></span>
                                  <svg class="blob-morphing blurb-svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
                                    <path d="M37.0096 23.0069C21.3087 29.8865 0.000244141 36.7659 0.000244141 60.8441C0.000244141 84.9223 41.4956 110.147 65.047 107.854C88.5985 105.561 112.15 79.1894 115.514 59.6976C118.879 40.2057 104.299 27.5932 86.3555 18.4206C68.4115 9.24789 52.7106 16.1274 37.0096 23.0069Z" fill="#FFD600"></path>
                                  </svg>
                        </div>
                        <div class="blurb-title h6">Upcoming Events</div>
                        <div class="blurb-text">Each month we have something new to offer our visitors.</div>
                      </article>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-6 position-static d-flex justify-content-center px-0 section-figure"><img class="section-image" src="assets/images/banner3.png" alt="" width="662" height="900" data-animate='{"in":{"class":"slideInUp","delay":".8s","duration":".7s"},"out":{"class":"slideOutDown","delay":"0s","duration":".4s"}}'/>
      </div>
    </div>
  </div>
</section>