<!-- <swiper [loop]="true" [autoHeight]="false" [allowTouchMove]="true"
[autoplay]="{ delay: 1500, disableOnInteraction: false }" [slidesPerView]="3" [spaceBetween]="-250"  >


<ng-template swiperSlide *ngFor="let item of albumImages" >
  <img src="{{imageUrl}}Images/AlbumImages/{{item.ImagePath}}" onerror="this.onerror=null; this.src='assets/images/image-not-available.jpg'" class="image" alt="image">
  
</ng-template>


</swiper> -->


<swiper [loop]="true" [autoHeight]="false" [allowTouchMove]="true"
[autoplay]="{ delay: 1500, disableOnInteraction: false }" [config]="swiperConfig"  >


<ng-template swiperSlide *ngFor="let item of albumImages" >
  <img src="{{imageUrl}}Images/AlbumImages/{{item.ImagePath}}" onerror="this.onerror=null; this.src='assets/images/image-not-available.jpg'" class="image" alt="image">
  
</ng-template>


</swiper>