.bg-yellow {
    background-color: yellow;
  }
  .transition {
    transition: background 0.25s ease, color 0.25s ease;
  }
  .active-slide {
    background-color: green;
    color: #fff;
  }
  .bg-blue {
    background-color: blue;
    color: #fff;
  }
  @media only screen and (max-width: 991px){
    .swiper-slide {
        background-size: contain !important;
        /* background-repeat: no-repeat; */
        background-position: 0 50px !important;
    }
}
.col-6 {
  margin-left: 100px;
}
.image{
  min-width: 450px;
  max-width: 450px;
  min-height: 500px;
  max-height: 500px;
}
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }
 
}
@media only screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }
}
@media only screen and (min-width: 576px)  {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }
}
@media only screen and (max-width: 768px) { 
  .image{
    min-width: 350px;
    max-width: 100px;
    min-height: 500px;
    max-height: 200px;
  }
  ::ng-deep .rd-navbar-fixed .navbar-panel{
    margin-top: 10px;
  }
}
/* @media only screen and (max-width: 767px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }


} */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .image{
    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    max-height: 500px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .image{
    min-width: 350px;
    max-width: 350px;
    min-height: 500px;
    max-height: 500px;
  }
}
@media (min-width: 1200px){
  .image{
    min-width: 350px;
    max-width: 350px;
    min-height: 400px;
    max-height: 400px;
  }
}