-
	var
		logo = {
			default: 'logo-default-253x50.svg',
			name: 'Bonobomb Zoo'
		},

		buyLink = '#',

		menu = {
			type: 'root',
			child: [
				{ title: 'Home', link: '#home-2' },
				{ title: 'Home', link: '#home-3' },
				{ title: 'About', link: '#about' },
				{ title: 'Plan Your Visit', link: '#plan-your-visit' },
				{ title: 'Our Animals', link: '#our-animals' },
				{ title: 'Ticket Prices', link: '#ticket-prices' },
				{ title: 'Contacts', link: '#contacts' },
				{ title: 'Home', link: '#home', home: true }
			]
		},

		homePage,
		pageName,
		pageId,
		pageClass,
		pageImage,
		htmlClass,
		breadcrumbs = [];
