.price {
  max-width: 350px;
  background: #00BCB1;
  overflow: auto;
  height: 480px;
}

.logo {
  background-color: darkcyan;
  width: 35px;
}

.price-title.h5:hover {
  color: darkcyan;
  cursor: pointer;
}

.image {
  cursor: pointer;
  max-height: 220px;
}

.options {
  cursor: pointer;
  width: 150px;
  min-height: 30px;
  max-height: 300px;
  border-radius: 15px;
  background-color: rgb(250, 250, 250);
  /* box-shadow: 2px 4px 8px #c5c5c5; */
  transition: all 300ms;
}

.options.opened {
  overflow-y: scroll;
}

.option {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: all 300ms;
}

.option:nth-child(1) {
  border-radius: 15px;
}

.option:hover {
  background-color: brown;
  color: black;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  display: none;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  display: none;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #00BCB1;
  border: 2px solid #F5F5F5;
  display: none;
}